<img src="/assets/img/burger.jpeg" id='pic'>

<h1>Eat-Tha-Burger </h1>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">

      <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        <div class="row">
        <div class="col-sm-8">
          <li id="burger">
            {{this.id}}.
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
            </form>
          </li>
          </div>

          <button id="devour" type="submit">DEVOUR!</button>        </div> <!-- row -->
        {{/if}}
        {{/each}}
      </ul>
    </div>


    <div class="col-md-5">
      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li class="well well-sm">

          {{this.burger_name}}

          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
          </form>

        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div> <!-- end of row -->
</div> <!-- end of container-->

<form class="create-update-form" action="/index" method="POST">

  <div class="form-group">
    <input type="text" id="input" name="burger_name">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <br>
  <br>
  <p>Enter a burger you want to eat. Click the submit button</p>
</form>